<div id="ftw-app"
    style=" height: 100%; max-height: 600px; min-height: 300px; max-width: 600px; min-width: 300px; width: 50%;">
    <section id="ftw">
        <section id="ftw-sections">

        </section>
    </section>
    <div id="ftw-options">
        <hr>
        <button id="rm-section" title="Remove Section"><i class="fa-solid fa-folder-minus"></i>Remove
            Section</button>
        <button id="add-section" title="Add Section"><i class="fa-solid fa-folder-plus"></i>Add Section</button>
    </div>
</div>