<form id="ftw-app"
    style=" height: 50%; max-height: 600px; min-height: 300px; max-width: 600px; min-width: 300px; width: 50%;">
    <section class="window-content" id="ftw">
        <section id="ftw-sections">
            <!-- <div class="faction-group">
                <header>
                    <button><i class="fa-solid fa-user-minus"></i></button>
                    <h1>Guilds</h1>
                    <button><i class="fa-solid fa-user-plus"></i></button>
                </header>
                <section id="xxx">
                <div class="faction">
                    <button data-adjust="-1"><i class="fa-solid fa-minus"></i></button>
                    <div class="form-group">
                        <label>The Mages Guild</label>
                        <input type="range" value="-5" min="-10" max="10" step="1">
                        <p class="notes">---</p>
                    </div>
                    <button data-adjust="1"><i class="fa-solid fa-plus"></i></button>
                </div>
                <div class="faction">
                    <button data-adjust="-1"><i class="fa-solid fa-minus"></i></button>
                    <div class="form-group">
                        <label>The Fighters Guild</label>
                        <input type="range" value="0" min="-10" max="10" step="1">
                        <p class="notes">---</p>
                    </div>
                    <button data-adjust="1"><i class="fa-solid fa-plus"></i></button>
                </div>
                <div class="faction">
                    <button data-adjust="-1"><i class="fa-solid fa-minus"></i></button>
                    <div class="form-group">
                        <label>The Thieves Guild</label>
                        <input type="range" value="5" min="-10" max="10" step="1">
                        <p class="notes">---</p>
                    </div>
                    <button data-adjust="1"><i class="fa-solid fa-plus"></i></button>
                </div>
                </section>
            </div> -->
        </section>
        <hr>
        <section id="ftw-options" style="display: flex;">
            <button id="rm-section" title="Remove Section"><i class="fa-solid fa-folder-minus"></i>Remove
                Section</button>
            <button id="add-section" title="Add Section"><i class="fa-solid fa-folder-plus"></i>Add Section</button>
        </section>
    </section>

</form>